files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/nodejs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nodejs/nodejs.log

option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "node app.js"
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
